@model IEnumerable<ChurchWebApp.Models.Pastor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ministry.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Biography)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PictureBlob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PictureWithWife)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PictureWithWifeBlob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Facebook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Twitter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Youtube)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instagram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoIntroduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsMainPastor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ministry.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qualification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Biography)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureBlob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureWithWife)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureWithWifeBlob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facebook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Twitter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Youtube)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instagram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoIntroduction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsMainPastor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.iD }) |
            @Html.ActionLink("Details", "Details", new { id=item.iD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.iD })
        </td>
    </tr>
}

</table>
